@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700i|Quicksand');

/*----------------------UNIVESRAL STYLE----------------------*/
html {
    min-height: 100%;
    position: relative;
}
body {
    text-align: center;
    background-color: #000;
    height: 100%;
}
h1 {
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-style: italic;
    color: #fff;
    font-size: 60px;
}
h4 {
    font-family: "Quicksand";
    color: #fff;
    display: inline-block;
    margin: 0px 30px 0px 30px;
}
p {
    color: #fff;
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: overline;
    color: white;
}
img {
    width: 100px;
    height: 100px;
}
#enter {
    margin: 200px;
}
.content {
/*    margin: 50px;*/
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.outline {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.logo {
    top: 10px;
    left: 50%;
    z-index: 99;
    position: absolute;
}
/*----------------------MAP----------------------*/
#map {
    width: 100vw;
    height: 100vh;
    position: relative;
}
footer {
    position: absolute;
    bottom: 0;
    margin-left: 50px;
    margin-bottom: 10px;
}